.questionBlock{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 1px solid #333333;
}

.icons{
    display: flex;
    line-height: 51px;
}

.icons i:hover{
    cursor: pointer;
}

.questionBlock a{
    text-decoration: none;
}

.ti-angle-up, .ti-angle-down, .ti-eye, .ti-comment-alt{
    margin-right: 20px;
    line-height: 40px;
}